%table.table
  %thead
    %tr
      %th Name
      %th Featured In
  %tbody
    - actors.each do |actor|
      %tr{data: { actor: "#{actor.name}" } }
        %td= link_to actor.name, actor
        %td
          - unless actor.movies.empty?
            %ul.list-unstyled
              - actor.movies.each do |movie|
                %li= link_to movie.title, actors_url('movies.title' => movie.title)

