%table.table
  %thead
    %tr
      %th Name
      %th Featured In
  %tbody
    - @actors.each do |actor|
      %tr{data: { actor: "#{actor.name}" } }
        %td= link_to actor.name, actor
        %td
          - unless actor.movies.empty?
            - actor.movies.each do |movie|
              = link_to movie.title, movie
= link_to 'Add an Actor', new_actor_url, class: 'btn btn-primary'
