%table.table
  %thead
    %tr
      %th Title
      %th Cast
  %tbody
    - movies.each do |movie|
      %tr{data: { movie: "#{movie.title}" } }
        %td= link_to movie.title, movie
        %td
          - unless movie.actors.empty?
            %ul.list-unstyled
              - movie.actors.all.each do |actor|
                %li= link_to actor.name, filter_movies_url(actor: actor.name)
