%table.table
  %thead
    %tr
      %th Title
      %th Cast
  %tbody
    - @movies.each do |movie|
      %tr{data: { movie: "#{movie.title}" } }
        %td= link_to movie.title, movie
        %td
          - unless movie.actors.empty?
            - movie.actors.each do |actor|
              = link_to actor.name, actor
= link_to 'Add a Movie', new_movie_url, class: 'btn btn-primary'
